@model List<ReviewSiteV1.Models.Review>
@{
    ViewBag.Title = "Home Page";
}
    <div class="jumbotron">
        <h2 style="text-align:center; font-weight:600; font-family: 'Bell MT'">Most Recent Reviews</h2>
        @* Add foreach here, foreach start with populating each individual div section for image, etc *@
        
        @foreach (var item in Model)
        {        
        <div class="row">
            <div style="float:right; outline: 1px solid grey; background-color:#9A7E7E; text-align: center;" class="col-sm-11">
                <p>@item.ReviewHeader - @item.PublishDate</p>
                <div class="row">
                    <div style="outline: 1px solid grey; min-height: 8em;" class="col-lg-3">
                       <img style="max-width: 95%" src="@Url.Action("GetImage", "Admin", new { imageId = item.Image.Id })" />
                    </div>
                    <div style="background-color: #BC5C5C; outline:1px solid grey; min-height: 9.5em; height: 100%;" class="col-lg-9">
                        @item.ReviewText
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
    